*{
    font-size: 25;
    font-family: Poppins, Inter;
}
html,body{
    margin:0;
    padding:0;
}
#footer{
    display:flex;
    text-align:left;
    list-style:none;
    padding: 60;
    margin:20;
    background-color:black;
    color: #fafafa;
}
ul{
    list-style: none;
}
.conclusion{
    text-align: center;
    color: #fafafa;
    background-color: black;
    margin-top: -15px;
}
nav{
    display:flex;
    padding: 10px 50px;
    justify-content: space-between;
    background-color: black;
    color: #fafafa;
}
.nav-links a{
    text-align: justify;
    justify-content: space-around;
    padding:20px;
}
.pop1,.pop2,.pop3,.pop4{justify-content: space-around;
}
#popular{
    display: flex;
    padding:0;
    justify-content: space-evenly;
}
.items1{
    justify-content: space-around;
    /**background-clip: border-box;**/
}
.items2{
    justify-content: space-around;
    /**background-clip: border-box;**/
}
.items3{
    justify-content: space-around;
    /**background-clip: border-box;**/

}
#items{
    display: flex;
    padding:0;
    justify-content: space-evenly;
}

.boxx1{
    justify-content: space-around;
    /**background-clip: border-box;**/
    box-shadow: 0.5px 1px 0.2em;
}
.boxx2{
    justify-content: space-around;
    /**background-clip: border-box;**/
    box-shadow: 0.5px 1px 0.2em;
}
.boxx3{
    justify-content: space-around;
   
    box-shadow: 0.5px 1px 0.2em;
}
#feedback{
    display: flex;
    justify-content: space-around;
}
.touch{
    text-align: center;
    color:#fafafa;
    background-color: black;
}
.table{
    text-align: center;
}
#footer,.box1{
    text-align: left;
    display: block;
}
#footer,.box2{
    text-align: left;
    display: block;
}
#footer,.box3{
    text-align: left;
    display:block;
}
#footer,.box4{
    text-align: left;
    display: block;
}
#footer{
    justify-content: space-around;
    padding:0;
    display: flex;
}

.button{
    justify-content:space-evenly;
}   
.nav-links ul li{
    list-style: none;
    display:inline-block;
    position: relative;
    margin:0;
}
.nav-links ul li a{
    color: 2549D3;
    text-decoration: none;
}

a:hover{
    color: #0F298B;
    font-size: x-large;
}
#content{
    background-image: url("./image\ 1.png");
    background-size: cover;
}
.content{
    display: flex;
}

h5,h6{
    font-size: large;
}